* {
    margin: 0;
    padding: 0;
}

#app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
}

#header {
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#nav {

}

#title {

}

#menu {

}

#main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#options {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}